<a href="https://colab.research.google.com/github/Sukrut11/Everlytics-Internship-Test/blob/main/Everlytics_Python_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df1 = pd.read_csv("/content/Sample Input - Sample.csv")
df1.head()

,Date,Time,Milli Sec,L_R1SDW_SPDREF,L_R1SDD_SPDREF,L_R1SDL_SPDREF,L_R1SDW_SPDFBK,L_R1SDD_SPDFBK,L_R1SDL_SPDFBK,L_R1_ODG_AUX_B07,...,L_R1SD_DS_GAP,L_R1SD_WS_SPDREF,L_R1SD_DS_SPDREF,L_R1SDLS_SPDREF,L_R1SD_WS_SPDFBK,L_R1SD_DS_SPDFBK,L_R1SDLS_SPDFBK,L_R1SD_WS_CUR,L_R1SD_DS_CUR,L_R1_CNT_PASS0
0,06-05-2022,21:58:33,140,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
1,06-05-2022,21:58:33,145,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
2,06-05-2022,21:58:33,150,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
3,06-05-2022,21:58:33,155,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
4,06-05-2022,21:58:33,160,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1

In [ ]:
df2 = pd.read_csv("/content/Sample Input - Sample.csv (1).csv")
df2.head()

,ItemId,ComputerId,ItemName,Comment,Unit,C/S/ID,DataType,BitPos,Address,MAX,MIN,ScaleMax,ScaleMin,Decimal
0,35827,10,L_R1SDW_SPDREF,R1 Screw Down WS Speed Reference,mps,0,REAL : Float,0,0x16464,10000.0,-10000.0,10000.0,-10000.0,0.0
1,35828,10,L_R1SDD_SPDREF,R1 Screw Down DS Speed Reference,mps,0,REAL : Float,0,0x16468,10000.0,-10000.0,10000.0,-10000.0,0.0
2,35829,10,L_R1SDL_SPDREF,R1 Screw Down LS Speed Reference,mps,0,REAL : Float,0,0x1646c,10000.0,-10000.0,10000.0,-10000.0,0.0
3,35830,10,L_R1SDW_SPDFBK,R1 Screw Down WS Speed Feedback,mps,0,REAL : Float,0,0x16470,10000.0,-10000.0,10000.0,-10000.0,0.0
4,35831,10,L_R1SDD_SPDFBK,R1 Screw Down DS Speed Feedback,mps,0,REAL : Float,0,0x16474,10000.0,-10000.0,10000.0,-10000.0,0.0

In [ ]:
event_timestamp = df1["Date"] + df1["Time"]
event_timestamp

0        06-05-202221:58:33
1        06-05-202221:58:33
2        06-05-202221:58:33
3        06-05-202221:58:33
4        06-05-202221:58:33
                ...
12746    06-05-202221:59:36
12747    06-05-202221:59:36
12748    06-05-202221:59:36
12749    06-05-202221:59:36
12750    06-05-202221:59:36
Length: 12751, dtype: object

In [ ]:
cleaned_data = pd.DataFrame()
cleaned_data["event_timestamp"] = cleaned_data.append(pd.DataFrame(df1["Date"] + [" "] + df1["Time"]))
cleaned_data.head()

       event_timestamp
0  06-05-2022 21:58:33
1  06-05-2022 21:58:33
2  06-05-2022 21:58:33
3  06-05-2022 21:58:33
4  06-05-2022 21:58:33

In [ ]:
cleaned_data["Tag_ID"] = df2["ItemId"]

In [ ]:
cleaned_data.head()

       event_timestamp   Tag_ID
0  06-05-2022 21:58:33  35827.0
1  06-05-2022 21:58:33  35828.0
2  06-05-2022 21:58:33  35829.0
3  06-05-2022 21:58:33  35830.0
4  06-05-2022 21:58:33  35831.0

In [ ]:
cleaned_data["tag_name"] = df2["ItemName"]
cleaned_data["tag_name"]

0        L_R1SDW_SPDREF
1        L_R1SDD_SPDREF
2        L_R1SDL_SPDREF
3        L_R1SDW_SPDFBK
4        L_R1SDD_SPDFBK
              ...
12746               NaN
12747               NaN
12748               NaN
12749               NaN
12750               NaN
Name: tag_name, Length: 12751, dtype: object

In [ ]:
cleaned_data

           event_timestamp   Tag_ID        tag_name
0      06-05-2022 21:58:33  35827.0  L_R1SDW_SPDREF
1      06-05-2022 21:58:33  35828.0  L_R1SDD_SPDREF
2      06-05-2022 21:58:33  35829.0  L_R1SDL_SPDREF
3      06-05-2022 21:58:33  35830.0  L_R1SDW_SPDFBK
4      06-05-2022 21:58:33  35831.0  L_R1SDD_SPDFBK
...                    ...      ...             ...
12746  06-05-2022 21:59:36      NaN             NaN
12747  06-05-2022 21:59:36      NaN             NaN
12748  06-05-2022 21:59:36      NaN             NaN
12749  06-05-2022 21:59:36      NaN             NaN
12750  06-05-2022 21:59:36      NaN             NaN

[12751 rows x 3 columns]

In [ ]:
cleaned_data["tag_description"] = df2["Comment"]
cleaned_data.head()

,event_timestamp,Tag_ID,tag_name,tag_description
0,06-05-2022 21:58:33,35827.0,L_R1SDW_SPDREF,R1 Screw Down WS Speed Reference
1,06-05-2022 21:58:33,35828.0,L_R1SDD_SPDREF,R1 Screw Down DS Speed Reference
2,06-05-2022 21:58:33,35829.0,L_R1SDL_SPDREF,R1 Screw Down LS Speed Reference
3,06-05-2022 21:58:33,35830.0,L_R1SDW_SPDFBK,R1 Screw Down WS Speed Feedback
4,06-05-2022 21:58:33,35831.0,L_R1SDD_SPDFBK,R1 Screw Down DS Speed Feedback

In [ ]:
cleaned_data["tag_unit"] = df2["Unit"]

In [ ]:
cleaned_data.head()

,event_timestamp,Tag_ID,tag_name,tag_description,tag_unit
0,06-05-2022 21:58:33,35827.0,L_R1SDW_SPDREF,R1 Screw Down WS Speed Reference,mps
1,06-05-2022 21:58:33,35828.0,L_R1SDD_SPDREF,R1 Screw Down DS Speed Reference,mps
2,06-05-2022 21:58:33,35829.0,L_R1SDL_SPDREF,R1 Screw Down LS Speed Reference,mps
3,06-05-2022 21:58:33,35830.0,L_R1SDW_SPDFBK,R1 Screw Down WS Speed Feedback,mps
4,06-05-2022 21:58:33,35831.0,L_R1SDD_SPDFBK,R1 Screw Down DS Speed Feedback,mps

In [ ]:
cleaned_data["mps"] = df1["Milli Sec"]
cleaned_data.head()

,event_timestamp,Tag_ID,tag_name,tag_description,tag_unit,mps
0,06-05-2022 21:58:33,35827.0,L_R1SDW_SPDREF,R1 Screw Down WS Speed Reference,mps,140
1,06-05-2022 21:58:33,35828.0,L_R1SDD_SPDREF,R1 Screw Down DS Speed Reference,mps,145
2,06-05-2022 21:58:33,35829.0,L_R1SDL_SPDREF,R1 Screw Down LS Speed Reference,mps,150
3,06-05-2022 21:58:33,35830.0,L_R1SDW_SPDFBK,R1 Screw Down WS Speed Feedback,mps,155
4,06-05-2022 21:58:33,35831.0,L_R1SDD_SPDFBK,R1 Screw Down DS Speed Feedback,mps,160

In [ ]:
x = df1.T
x.head()

,0,1,2,3,4,5,6,7,8,9,...,12741,12742,12743,12744,12745,12746,12747,12748,12749,12750
Date,06-05-2022,06-05-2022,06-05-2022,06-05-2022,06-05-2022,06-05-2022,06-05-2022,06-05-2022,06-05-2022,06-05-2022,...,06-05-2022,06-05-2022,06-05-2022,06-05-2022,06-05-2022,06-05-2022,06-05-2022,06-05-2022,06-05-2022,06-05-2022
Time,21:58:33,21:58:33,21:58:33,21:58:33,21:58:33,21:58:33,21:58:33,21:58:33,21:58:33,21:58:33,...,21:59:36,21:59:36,21:59:36,21:59:36,21:59:36,21:59:36,21:59:36,21:59:36,21:59:36,21:59:36
Milli Sec,140,145,150,155,160,165,170,175,180,185,...,845,850,855,860,865,870,875,880,885,890
L_R1SDW_SPDREF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
L_R1SDD_SPDREF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
x = pd.read_csv("/content/Sample Input - Sample.csv")
x.head()

,Date,Time,Milli Sec,L_R1SDW_SPDREF,L_R1SDD_SPDREF,L_R1SDL_SPDREF,L_R1SDW_SPDFBK,L_R1SDD_SPDFBK,L_R1SDL_SPDFBK,L_R1_ODG_AUX_B07,...,L_R1SD_DS_GAP,L_R1SD_WS_SPDREF,L_R1SD_DS_SPDREF,L_R1SDLS_SPDREF,L_R1SD_WS_SPDFBK,L_R1SD_DS_SPDFBK,L_R1SDLS_SPDFBK,L_R1SD_WS_CUR,L_R1SD_DS_CUR,L_R1_CNT_PASS0
0,06-05-2022,21:58:33,140,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
1,06-05-2022,21:58:33,145,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
2,06-05-2022,21:58:33,150,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
3,06-05-2022,21:58:33,155,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1
4,06-05-2022,21:58:33,160,0.0,0.0,0,0.0,0.0,0,0,...,194.347992,0.0,0.0,0,0.0,0.0,0,0,0,1

In [ ]:
for values in df2["ItemName"]:
  if values in df1.index:
    print(df2[values])

In [ ]:
cleaned_data.head()

,event_timestamp,Tag_ID,tag_name,tag_description,tag_unit,mps
0,06-05-2022 21:58:33,35827.0,L_R1SDW_SPDREF,R1 Screw Down WS Speed Reference,mps,140
1,06-05-2022 21:58:33,35828.0,L_R1SDD_SPDREF,R1 Screw Down DS Speed Reference,mps,145
2,06-05-2022 21:58:33,35829.0,L_R1SDL_SPDREF,R1 Screw Down LS Speed Reference,mps,150
3,06-05-2022 21:58:33,35830.0,L_R1SDW_SPDFBK,R1 Screw Down WS Speed Feedback,mps,155
4,06-05-2022 21:58:33,35831.0,L_R1SDD_SPDFBK,R1 Screw Down DS Speed Feedback,mps,160